<form method="POST" action="/students">
    <label for="first-name">First Name:</label>
    <input id ="first-name" type="text" name="first_name" />

    <label for="second-name">Second Name:</label>
    <input id ="second-name" type="text" name="second_name" />

    <label for="house">House:</label>
    <select name="house" id="house-selection">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Slytherin">Slytherin</option>
      <option value="Ravenclaw">Ravenclaw</option>
      <option value ="Hufflepuff">Hufflepuff</option>
    </select>

    <label for="age">Age:</label>
    <input type="number" name="age" id="student-age">

    <input type="submit" value="Confirm student">
</form>
